@import url(./layout/menu.css);
@import url(./layout/header.css);
@import url(./layout/content.css);
@import url(./layout/footer.css);
@import url(./base/icon.css);
@font-face {
    font-family: Notosans-Regular;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}
@font-face {
    font-family: Notosans-Italic;
    src: url(../assets/fonts/notosans-italic.1c1aaac9.woff2);
}
@font-face {
    font-family: Notosans-SemiBold;
    src: url(../assets/fonts/notosans-semibold.df3e6dc4.woff2);
}
@font-face {
    font-family: Notosans-Bold;
    src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}
body{
    margin: 0;
    font-family: Notosans-Regular;
    font-size: 13px;
    overflow: hidden;
}
.container{
    display: flex;
    width: 100%;
}
.main{
    width: calc(100% - 178px)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}