@import url(../base/button/button.css);
@import url(../base/search/search.css);
@import url(../base/table/table.css);
@import url(./dialog.css);
@import url(./overlay.css);
@import url(../base/contextmenu.css);
.content{
    height: calc(100vh - 48px);
    background-color: #f4f5f8;
}
.content-top{
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
    align-items: center;
}
.title{
    font-size: 24px;
    font-weight: bold;
}
.content-data{
    width: calc(100% - 32px);
    background-color: #fff;
    height: calc(100vh - 48px + 18px - 83.6px - 12px);
    margin: 0 auto;
    position: relative;
}
.list-employee{
    height: 484px;
    /* width: 1310px; */
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    margin: 0 auto;
    position: relative;
}
.functions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.functions-left{
    font-family: Notosans-SemiBold;
    height: 30px;
    line-height: 30px;
    padding: 0 16px;
    border: 1px solid #babec5; 
    border-radius: 2px;
    color: #afafaf;
    position: relative;
}
.functions-left-enable{
    color: #3b3c3f !important;
    border: 1px solid #3b3c3f !important; 
    cursor: pointer;
}

.functions-left-option{
    position: absolute;
    z-index: 99;
    background-color: #fff;
    right: 0;
    height: 30px;
    top: 32px;
    transition: all .25s ease;
    line-height: 30px;
    padding: 0 16px;
    border-radius: 2px;
    border: 1px solid #babec5;
}
.functions-left-option:hover{
    color: #2ca01c;
    background-color: #ebedf0;
}

.functions-right{
    display: flex;
    align-items: center;
}
#loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #f3f3f3;
    border-top: 10px solid #2ca01c; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }