.pay-form-container {
  position: absolute;
  right: 0;
  top: 0;
  /* top: -90px; */
  width: 100vw;
  height: 100vh;
  /* background-color: #fff; */
  z-index: 50;
  /* background-color: #f4f5f8; */
  background-color: #eceef1;;
}
.header-pay-form {
  height: 36px;
  margin: 16px 16px 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-pay-form-left,
.header-pay-form-right {
  display: flex;
  align-items: center;
}
.header-pay-form-left{
  width: 70%;
}
.icon-recent-log {
  background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -648px -145px;
  width: 24px;
  height: 23px;
  margin-right: 10px;
  cursor: pointer;
}
.pay-form-title {
  font-size: 24px;
  font-weight: bold;
  margin-right: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.flex {
  display: flex;
  align-items: center;
}
.w100 {
  width: 100%;
}
.w30 {
  width: 30%;
}
.w45 {
  width: 45%;
  margin-right: 12px;
}
.w40 {
  width: 44%;
  margin-right: 12px;
}
.w55 {
  width: 55%;
  margin-right: 12px;
}
.w50 {
  width: 50%;
}
.w10 {
  width: 20%;
}
.w60 {
  width: 60%;
}
.pay-form-enter {
  padding: 6px 20px 12px 20px;
  width: 100%;
  /* height:calc(100vh - 50% - 64px); */
  height: 254px;
}
.pay-form-enter label {
  /* font-weight: bold; */
  font-family: Notosans-SemiBold;
  font-size: 12px;
}
.pay-form-enter-left {
  width: 65%;
}
.pay-form-enter-right {
  width: 35%;
}
.pay-form-detail {
  background-color: #fff;
  padding: 6px 20px 12px 20px;
  height: calc(100vh - 254px - 54px - 42px);
  overflow-y: scroll;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.icon-delete {
  background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -464px -313px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.pay-data-detail input {
  background: #fff;
  /* border: 1px solid #e0e0e0; */
  border: none;
  outline: none;
  padding: 0 6px;
  border-radius: 2px;
  height: 26px;
  width: 100%;
}
.text-gray::-webkit-datetime-edit { color: #aaa; }
.text-gray:focus::-webkit-datetime-edit { color: #000; }
.text-gray::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}
.pay-data-detail tr td {
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  padding: 2px 10px;
}
.pay-data-detail tr th {
  /* background-color: #f4f5f8; */
  background-color: #e5e8ec;;
  padding: 2px 10px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  height: 26px;
}
.pay-data-detail tr:last-child {
  height: 26px;
  line-height: 26px;
  background-color: #e5e8ec;
  font-weight: bold;
}

.pay-control-detail {
  margin-top: 8px;
}

.pay-form-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 42px;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #38393d;
  left: 0px;
}
