.search-box{
    display: flex;
    height: 32px;
    border: 1px solid #babec5;
    width: 240px;
    border-radius: 2px;
    align-items: center;
}
.search-box:focus{
    border-color: #2ca01c;
}

.search-box input{
    color: #b8bcc3;
    border: none;
    /* text-indent: 10px; */
    width: 240px;
    outline: none;
    height: 30px;
    font-family:Notosans-Italic;
}
.search-box input::placeholder{
    color: #b8bcc3;
}
@font-face {
    font-family: Notosans-Italic;
    src: url(../../../assets/fonts/notosans-italic.1c1aaac9.woff2);
}