.cash-container{
    width: 100%;
    position: relative;
    
}
.menu-cash{
    display: flex;
    list-style: none;
    border-bottom: 1px solid #c7c7c7;
    margin: 0 20px;
    padding-top: 10px;
}
.menu-cash li{
    height: 31px;
    line-height: 31px;
    padding: 0 20px;
    cursor: pointer;
    font-weight: bold;
}

.active-item{
    font-weight: bold;
    border-bottom: 4px solid #2ca01c;
    background-color: #f5eecb;
    border-radius: 10px 10px 0 0;
}

.process-area{
    width: 100%;
    height: calc(100vh - 48px - 41px);
    display: flex;
    align-items: center;
}
.process-content{
    margin: 0 auto;
    border-radius: 4px;
    width: 690px;
    height: 460px;
    background-color: #fff;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    position: relative;
}
.process-content-header{
    height: 40px;
    line-height: 40px;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.process-content-image{
    background-image: url(../../assets/img/process.JPG);
    width: 520px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 40px auto;
    
}
.employee-icon {
	background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -1378px -257px;
	width: 21px;
	height: 25px;
}
.process-content-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 10px solid #f4f5f8;
}
.dictionary-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 68px;
    padding: 0 30px;
    cursor: pointer;
}
.dictionary-item:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}