
.data{
    margin: 0 auto;
    font-size: 13px;
    width: 200%;
    min-width: 2620px;
}
.data tr:first-child{
    background-color: #e5e8ec;
    position: sticky;
    top: 0;
    z-index: 5;
}
.data tr td{
    padding: 0 16px;
}
.data tr td:first-child{
    text-indent: unset;
    text-align: center;
}
.data tr th:first-child{
    text-indent: unset;
    text-align: center;
}
.data tr th{
    padding: 0 16px;
}
.data tr th, .data tr td{
    height: 48px;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}
.data tr:hover td{
    background-color: #e5f3ff!important;
}
.data tr td:first-child{
    background-color: #fff;
    position: sticky;
    left: 0;
}
.data tr th:first-child{
    position: sticky;
    left: 0;
    z-index: 3;
    background-color: #e5e8ec;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data tr td:last-child{
    color: #0075c0;
    font-family: Notosans-SemiBold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    right: 0;
    z-index: 3;
    background-color: #fff;
    border-left: 1px solid #c7c7c7;
}
.data tr th:last-child{
    position: sticky;
    right: 0;
    z-index: 3;
    background-color: #e5e8ec;
    border-left: 1px solid #c7c7c7;
}

/* độ rộng các cột */
.col250{
    width: 250px;
}
.col350{
    width: 350px;
}
.col150{
    width: 150px;
}
.col180{
    width: 180px;
}
.col60{
    width: 60px !important;
    max-width: 60px !important;
}
.col100{
    width: 100px;
}
.col200{
    width: 200px;
}
.col300{
    width: 300px;
}

/* ======================= */
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}

/* custom scroll bar  */
/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* ____________________________________________Table account__________________________________________ */
.list-account{
    height: 484px;
    width: 100%;
    /* overflow-x: auto;
    overflow-y: auto; */
    margin: 0 auto;
    position: relative;
}
/* .data-account{
    margin: 0 auto;
    font-size: 13px;
    width: 100%;
} */
/* .data-account tr:first-child{
    background-color: #e5e8ec;
    position: sticky;
    top: 0;
    z-index: 5;
}
.data-account th, td{
    text-indent: 8px;
}
.data-account th{
    height: 28px !important;
}
.data-account td{
    height: 31px !important;
}
.w10{
    width: 10%;
}
.w15{
    width: 15%;
}
.w30{
    width: 30%;
}
.w20{
    width: 20%;
}
.data-account tr td:last-child{
    color: #0075c0;
    font-family: Notosans-SemiBold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    right: 0;
    z-index: 3;
    background-color: #fff;
    border-left: 1px solid #c7c7c7;
}
.data-account tr th:last-child{
    position: sticky;
    right: 0;
    z-index: 3;
    background-color: #e5e8ec;
    border-left: 1px solid #c7c7c7;
} */